.Rproj.user
.Rhistory
.RData
.Ruserdata

.venv/*
*.grib
_targets/*

data/*
*.html
venv/*
.vscode

*/data/*
.env
charts/*
analysis/.ipynb_checkpoints/*

*/.DS_Store
/src.egg-info
/src/src.egg-info
/src/datasources/__pycache__
/src/utils/__pycache__
/src/__pycache__
